#menuLeft {
    width: 100px;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 30px 0;
    background-color: #fff;

    #logo > img {
        width: 100%;
    }

    #links {
        display: flex;
        flex-direction: column;
        flex: 1;
        padding: 10px 5px;
        gap: 15px;

        .link:last-child {
            margin-top: auto;
        }
    }
}

#menuBottom {
    width: 100%;
    display: flex;
    align-items: center;
    background-color: #fff;

    #links {
        display: flex;
        justify-content: space-between;
        flex: 1;
        padding: 10px 5px;
        gap: 15px;

        .link {
            flex: 1;
        }
    }
}

.link {
    display: flex;
    flex-direction: column;

    .buttonMenu {
        border-radius: 100px;
        background-color: $color-white;
        color: $color-black;
        padding: 10px 20px;
        display: flex;
        justify-content: center;
        text-decoration: none;

        &[current-page="true"] {
            background-color: $color-primary;
        }
    }

    label {
        font-weight: $font-weight-bold;
        color: $color-black;
        text-align: center;
    }
}

#main {
    height: 100vh;
    padding: 2rem;
    flex: 1;
    
    >div {
        background-color: $color-body-bg;
    }
}

#containerMap {
    flex: 1;

    >div:nth-child(2) {
        flex: 1;
    }
}

#map {
    height: 100%;
    width: 100%;
}