#menuLeft {
    width: 100px;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 30px 0;
    background-color: #fff;

    #logo > img {
        width: 100%;
    }

    #links {
        display: flex;
        flex-direction: column;
        flex: 1;
        padding: 10px 5px;
        gap: 15px;

        .link:last-child {
            margin-top: auto;
        }
    }
}

#menuBottom {
    width: 100%;
    display: flex;
    align-items: center;
    background-color: #fff;

    #links {
        display: flex;
        justify-content: space-between;
        flex: 1;
        padding: 10px 5px;
        gap: 0;

        .link {
            flex: 1;
        }
    }
}

.link {
    display: flex;
    flex-direction: column;

    .buttonMenu {
        border-radius: 100px;
        background-color: $color-white;
        color: $color-black;
        padding: 10px 20px;
        display: flex;
        justify-content: center;
        text-decoration: none;

        &[current-page="true"] {
            background-color: $color-primary;
        }
    }

    label {
        font-weight: $font-weight-bold;
        color: $color-black;
        text-align: center;
    }
}

#mobileTop {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;

    img {
        width: 80px;
    }
}

#main {
    padding: 2rem;
    flex: 1;

    body[data-mobile="1"] & {
        padding: 1rem 0.5rem;
    }
    
    >div {
        background-color: $color-body-bg;
    }
}

#loginForm {
    img {
        height: 124px;
        width: 124px;
        margin: 0 auto;
    }

    body:not([data-mobile]) >#main & {
        max-width: 540px;
    }

    button {
        background: linear-gradient(101deg, var(--Selected-menu, #E8DEF8) -11.24%, #8133FF 112.64%);
        border: 0;
        border-radius: 15px;
    }

    form >.container {
        width: 80%;

        @media (max-width: 540px) {
            width: 100%;
        }
    }
}

.container-flex-1 {
    flex: 1;

    >div:nth-child(2) {
        flex: 1;
    }
}

#map {
    height: 100%;
    width: 100%;
}

.badge {
    padding: $badge-padding-y $badge-padding-x;
    font-size: $badge-font-size;
    font-weight: $badge-font-weight;
    line-height: 1;
    color: $badge-color;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: $badge-border-radius;
    display: inline-block;

    &.badge-primary {
        background-color: var(--color-primary-bg-subtle);
        color: var(--color-primary-text-emphasis);

        i {
            color: var(--color-primary-text-emphasis);
        }
    }

    &.badge-secondary {
        background-color: var(--color-secondary-bg-subtle);
        color: var(--color-secondary-text-emphasis);

        i {
            color: var(--color-secondary-text-emphasis);
        }
    }

    &.badge-success {
        background-color: var(--color-success-bg-subtle);
        color: var(--color-success-text-emphasis);

        i {
            color: var(--color-success-text-emphasis);
        }
    }

    &.badge-danger {
        background-color: var(--color-danger-bg-subtle);
        color: var(--color-danger-text-emphasis);

        i {
            color: var(--color-danger-text-emphasis);
        }
    }

    &.badge-warning {
        background-color: var(--color-warning-bg-subtle);
        color: var(--color-warning-text-emphasis);

        i {
            color: var(--color-warning-text-emphasis);
        }
    }

    &.badge-info {
        background-color: var(--color-info-bg-subtle);
        color: var(--color-info-text-emphasis);

        i {
            color: var(--color-info-text-emphasis);
        }
    }

    &.badge-light {
        background-color: var(--color-light-bg-subtle);
        color: var(--color-light-text-emphasis);

        i {
            color: var(--color-light-text-emphasis);
        }
    }

    &.badge-dark {
        background-color: var(--color-dark-bg-subtle);
        color: var(--color-dark-text-emphasis);

        i {
            color: var(--color-dark-text-emphasis);
        }
    }
}

.modal {
    --modal-top-left-top: 10px;
    --modal-top-left-left: 10px;
    --modal-top-right-top: 10px;
    --modal-top-right-right: 10px;
    --modal-bottom-left-bottom: 10px;
    --modal-bottom-left-left: 10px;
    --modal-bottom-right-bottom: 10px;
    --modal-bottom-right-right: 10px;
    --modal-fade-top-transform: translate3d(0, -25%, 0);
    --modal-fade-right-transform: translate3d(25%, 0, 0);
    --modal-fade-bottom-transform: translate3d(0, 25%, 0);
    --modal-fade-left-transform: translate3d(-25%, 0, 0);
    --modal-side-right: 10px;
    --modal-side-bottom: 10px;
    --modal-non-invasive-box-shadow: 0 2px 6px -1px rgba(var(--box-shadow-color-rgb), 0.07), 0 6px 18px -1px rgba(var(--box-shadow-color-rgb), 0.04);
    --modal-non-invasive-box-shadow-top: 0 -10px 20px 0 rgba(var(--box-shadow-color-rgb), 0.05);

    .modal-dialog {
        &.modal-top { top: 0; }
        &.modal-left { left: 0; }
        &.modal-right { right: 0; }
        &.modal-bottom { bottom: 0; }
        &.modal-top-left {
            top: var(--modal-top-left-top);
            left: var(--modal-top-left-left);
        }
        &.modal-top-right {
            top: var(--modal-top-right-top);
            right: var(--modal-top-right-right);
        }
        &.modal-bottom-left {
            bottom: var(--modal-bottom-left-bottom);
            left: var(--modal-bottom-left-left);
        }
        &.modal-bottom-right {
            bottom: var(--modal-bottom-right-bottom);
            right: var(--modal-bottom-right-right);
        }
    }

    &.fade {
        &.top:not(.show) .modal-dialog { transform: var(--modal-fade-top-transform); }
        &.right:not(.show) .modal-dialog { transform: var(--modal-fade-right-transform); }
        &.bottom:not(.show) .modal-dialog { transform: var(--modal-fade-bottom-transform); }
        &.left:not(.show) .modal-dialog { transform: var(--modal-fade-left-transform); }
    }

    @media (min-width: 768px) {
        .modal-dialog {
            &.modal-top { top: 0; }
            &.modal-left { left: 0; }
            &.modal-right { right: 0; }
            &.modal-top-left {
                top: var(--modal-top-left-top);
                left: var(--modal-top-left-left);
            }
            &.modal-top-right {
                top: var(--modal-top-right-top);
                right: var(--modal-top-right-right);
            }
            &.modal-bottom-left {
                bottom: var(--modal-bottom-left-bottom);
                left: var(--modal-bottom-left-left);
            }
            &.modal-bottom-right {
                bottom: var(--modal-bottom-right-bottom);
                right: var(--modal-bottom-right-right);
            }
        }
    }

    @media (min-width: 992px) {
        .modal-side {
            position: absolute;
            width: 100%;
            right: var(--modal-side-right);
            bottom: var(--modal-side-bottom);
            margin: 0;
        }

        .modal-frame {
            position: absolute;
            max-width: 100%;
            width: 100%;
            margin: 0;
        }

        .modal-non-invasive-open {
            overflow-y: auto;

            .modal-non-invasive-show {
                display: table;

                .modal-dialog {
                    &.modal-bottom-right { bottom: 0; }
                    &.modal-bottom-left { bottom: 0; }
                }

                .modal-side {
                    bottom: 0;
                }

                &.modal.frame.bottom {
                    box-shadow: var(--modal-non-invasive-box-shadow-top);

                    .modal-content {
                        box-shadow: var(--modal-non-invasive-box-shadow-top);
                    }
                }

                &.modal.frame.top {
                    box-shadow: var(--modal-non-invasive-box-shadow);
                }

                .modal-side {
                    &.modal-bottom-right .modal-content,
                    &.modal-bottom-left .modal-content {
                        box-shadow: var(--modal-non-invasive-box-shadow-top);
                    }
                }
            }
        }
    }

    .modal-non-invasive-open {
        .modal-non-invasive-show {
            .modal-dialog {
                &.modal-bottom-right { right: 0; }
                &.modal-bottom-left { left: 0; }
                &.modal-top-left { left: 0; }
            }

            .modal-side { right: 0; }
        }
    }
}

.backdrop {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    z-index: 2049;
}

.alert {
    --alert-bg: transparent;
    --alert-padding-x: 1.5rem;
    --alert-padding-y: 1.25rem;
    --alert-margin-bottom: 1rem;
    --alert-color: inherit;
    --alert-border-color: transparent;
    --alert-border: var(--border-width) solid var(--alert-border-color);
    --alert-border-radius: 0.5rem;
    --alert-link-color: inherit;
    position: absolute;
    padding: var(--alert-padding-y) var(--alert-padding-x);
    margin-bottom: var(--alert-margin-bottom);
    color: var(--alert-color);
    background-color: var(--alert-bg);
    border: var(--alert-border);
    border-radius: var(--alert-border-radius);
    top: 20px;
    right: 20px;

    body[data-mobile="1"] & {
        max-width: 90%;
    }

    &-heading {
        color: inherit;
    }

    &-link {
        font-weight: 700;
        color: var(--alert-link-color);
    }

    &-dismissible {
        padding-right: 4.5rem;

        .btn-close {
            position: absolute;
            top: 0;
            right: 0;
            z-index: 2;
            padding: 1.5625rem 1.5rem;
        }
    }

    &-primary {
        --alert-color: var(--color-primary-text-emphasis);
        --alert-bg: var(--color-primary-bg-subtle);
        --alert-border-color: var(--color-primary-border-subtle);
        --alert-link-color: var(--color-primary-text-emphasis);
        background-color: var(--color-primary-bg-subtle);
        color: var(--color-primary-text-emphasis);

        i {
            color: var(--color-primary-text-emphasis);
        }

        .alert-link {
            color: var(--color-primary-text-emphasis);

            &:hover {
                color: rgba(var(--color-primary-text-emphasis), var(--text-hover-opacity));
            }
        }
    }

    &-secondary {
        --alert-color: var(--color-secondary-text-emphasis);
        --alert-bg: var(--color-secondary-bg-subtle);
        --alert-border-color: var(--color-secondary-border-subtle);
        --alert-link-color: var(--color-secondary-text-emphasis);
        background-color: var(--color-secondary-bg-subtle);
        color: var(--color-secondary-text-emphasis);

        i {
            color: var(--color-secondary-text-emphasis);
        }

        .alert-link {
            color: var(--color-secondary-text-emphasis);

            &:hover {
                color: rgba(var(--color-secondary-text-emphasis), var(--text-hover-opacity));
            }
        }
    }

    &-success {
        --alert-color: var(--color-success-text-emphasis);
        --alert-bg: var(--color-success-bg-subtle);
        --alert-border-color: var(--color-success-border-subtle);
        --alert-link-color: var(--color-success-text-emphasis);
        background-color: var(--color-success-bg-subtle);
        color: var(--color-success-text-emphasis);

        i {
            color: var(--color-success-text-emphasis);
        }

        .alert-link {
            color: var(--color-success-text-emphasis);

            &:hover {
                color: rgba(var(--color-success-text-emphasis), var(--text-hover-opacity));
            }
        }
    }

    &-danger {
        --alert-color: var(--color-danger-text-emphasis);
        --alert-bg: var(--color-danger-bg-subtle);
        --alert-border-color: var(--color-danger-border-subtle);
        --alert-link-color: var(--color-danger-text-emphasis);
        background-color: var(--color-danger-bg-subtle);
        color: var(--color-danger-text-emphasis);

        i {
            color: var(--color-danger-text-emphasis);
        }

        .alert-link {
            color: var(--color-danger-text-emphasis);

            &:hover {
                color: rgba(var(--color-danger-text-emphasis), var(--text-hover-opacity));
            }
        }
    }

    &-warning {
        --alert-color: var(--color-warning-text-emphasis);
        --alert-bg: var(--color-warning-bg-subtle);
        --alert-border-color: var(--color-warning-border-subtle);
        --alert-link-color: var(--color-warning-text-emphasis);
        background-color: var(--color-warning-bg-subtle);
        color: var(--color-warning-text-emphasis);

        i {
            color: var(--color-warning-text-emphasis);
        }

        .alert-link {
            color: var(--color-warning-text-emphasis);

            &:hover {
                color: rgba(var(--color-warning-text-emphasis), var(--text-hover-opacity));
            }
        }
    }

    &-info {
        --alert-color: var(--color-info-text-emphasis);
        --alert-bg: var(--color-info-bg-subtle);
        --alert-border-color: var(--color-info-border-subtle);
        --alert-link-color: var(--color-info-text-emphasis);
        background-color: var(--color-info-bg-subtle);
        color: var(--color-info-text-emphasis);

        i {
            color: var(--color-info-text-emphasis);
        }

        .alert-link {
            color: var(--color-info-text-emphasis);

            &:hover {
                color: rgba(var(--color-info-text-emphasis), var(--text-hover-opacity));
            }
        }
    }

    &-light {
        --alert-color: var(--color-light-text-emphasis);
        --alert-bg: var(--color-light-bg-subtle);
        --alert-border-color: var(--color-light-border-subtle);
        --alert-link-color: var(--color-light-text-emphasis);
        background-color: var(--color-light-bg-subtle);
        color: var(--color-light-text-emphasis);

        i {
            color: var(--color-light-text-emphasis);
        }

        .alert-link {
            color: var(--color-light-text-emphasis);

            &:hover {
                color: rgba(var(--color-light-text-emphasis), var(--text-hover-opacity));
            }
        }
    }

    &-dark {
        --alert-color: var(--color-dark-text-emphasis);
        --alert-bg: var(--color-dark-bg-subtle);
        --alert-border-color: var(--color-dark-border-subtle);
        --alert-link-color: var(--color-dark-text-emphasis);
        background-color: var(--color-dark-bg-subtle);
        color: var(--color-dark-text-emphasis);

        i {
            color: var(--color-dark-text-emphasis);
        }

        .alert-link {
            color: var(--color-dark-text-emphasis);

            &:hover {
                color: rgba(var(--color-dark-text-emphasis), var(--text-hover-opacity));
            }
        }
    }
}

.scroll-box {
    height: 100px;
    overflow-y: scroll;
    overflow-x: visible;
    padding: 0 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  
    // Firefox
    scrollbar-width: thin;
    scrollbar-color: #555 #f5f5f5;
  
    // WebKit (Chrome, Safari, Edge, etc.)
    &::-webkit-scrollbar {
        width: 6px;
    }
  
    &::-webkit-scrollbar-track {
        background: #f5f5f5;
        border-radius: 8px;
    }
  
    &::-webkit-scrollbar-thumb {
        background-color: #555;
        border-radius: 8px;
        border: 1px solid #f5f5f5;
    
        &:hover {
            background-color: #444;
        }
    }
}

.card {
    --card-spacer-y: 1.5rem;
    --card-spacer-x: 1.5rem;
    --card-title-spacer-y: 0.5rem;
    --card-title-color: ;
    --card-subtitle-color: ;
    --card-border-width: var(--border-width);
    --card-border-color: rgba(0, 0, 0, 0.175);
    --card-border-radius: 0.5rem;
    --card-box-shadow: 0 2px 15px -3px rgba(var(--box-shadow-color-rgb), 0.07), 0 10px 20px -2px rgba(var(--box-shadow-color-rgb), 0.04);
    --card-inner-border-radius: calc(0.5rem - (var(--border-width)));
    --card-cap-padding-y: 0.75rem;
    --card-cap-padding-x: 1.5rem;
    --card-cap-bg: rgba(255, 255, 255, 0);
    --card-cap-color: ;
    --card-height: ;
    --card-color: ;
    --card-bg: var(--surface-bg);
    --card-img-overlay-padding: 1.5rem;
    --card-group-margin: 0.75rem;
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    height: var(--card-height);
    color: var(--body-color);
    word-wrap: break-word;
    background-color: var(--card-bg);
    background-clip: border-box;
    border: var(--card-border-width) solid var(--card-border-color);
    border-radius: var(--card-border-radius);
    box-shadow: var(--card-box-shadow);

    > hr {
        margin-right: 0;
        margin-left: 0;
    }

    > .list-group {
        border-top: inherit;
        border-bottom: inherit;

        &:first-child {
            border-top-width: 0;
            border-top-left-radius: var(--card-inner-border-radius);
            border-top-right-radius: var(--card-inner-border-radius);
        }

        &:last-child {
            border-bottom-width: 0;
            border-bottom-right-radius: var(--card-inner-border-radius);
            border-bottom-left-radius: var(--card-inner-border-radius);
        }
    }

    > .card-header + .list-group,
    > .list-group + .card-footer {
        border-top: 0;
    }

    .card-body {
        flex: 1 1 auto;
        padding: var(--card-spacer-y) var(--card-spacer-x);
        color: var(--card-color);
    }

    .card-title {
        margin-bottom: var(--card-title-spacer-y);
        color: var(--card-title-color);
    }

    .card-subtitle {
        margin-top: calc(-0.5 * var(--card-title-spacer-y));
        margin-bottom: 0;
        color: var(--card-subtitle-color);
    }

    .card-text:last-child {
        margin-bottom: 0;
    }

    .card-link + .card-link {
        margin-left: var(--card-spacer-x);
    }

    .card-header {
        padding: var(--card-cap-padding-y) var(--card-cap-padding-x);
        margin-bottom: 0;
        color: var(--card-cap-color);
        background-color: var(--card-cap-bg);
        border-bottom: var(--card-border-width) solid var(--card-border-color);

        &:first-child {
            border-radius: var(--card-inner-border-radius) var(--card-inner-border-radius) 0 0;
        }
    }

    .card-footer {
        padding: var(--card-cap-padding-y) var(--card-cap-padding-x);
        color: var(--card-cap-color);
        background-color: var(--card-cap-bg);
        border-top: var(--card-border-width) solid var(--card-border-color);

        &:last-child {
            border-radius: 0 0 var(--card-inner-border-radius) var(--card-inner-border-radius);
        }
    }

    .card-header-tabs {
        margin-right: calc(-0.5 * var(--card-cap-padding-x));
        margin-bottom: calc(-1 * var(--card-cap-padding-y));
        margin-left: calc(-0.5 * var(--card-cap-padding-x));
        border-bottom: 0;

        .nav-link.active {
            background-color: var(--card-bg);
            border-bottom-color: var(--card-bg);
        }
    }

    .card-header-pills {
        margin-right: calc(-0.5 * var(--card-cap-padding-x));
        margin-left: calc(-0.5 * var(--card-cap-padding-x));
    }

    .card-img-overlay {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        padding: var(--card-img-overlay-padding);
        border-radius: var(--card-inner-border-radius);
    }

    .card-img,
    .card-img-top,
    .card-img-bottom {
        width: 100%;
    }

    .card-img,
    .card-img-top {
        border-top-left-radius: var(--card-inner-border-radius);
        border-top-right-radius: var(--card-inner-border-radius);
    }

    .card-img,
    .card-img-bottom {
        border-bottom-right-radius: var(--card-inner-border-radius);
        border-bottom-left-radius: var(--card-inner-border-radius);
    }
}

.cardPlace {
    &:hover {
        cursor: pointer;
        background-color: #f0f0f0;
        box-shadow: $box-shadow;
    }

    .badge {
        height: 72px;
        width: 72px;
        
        i {
            font-size: 2rem;
        }
    }

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 0 0.5rem 0.5rem 0;

        max-width: 300px;

        body[data-mobile="1"] & {
            display: none;
        }
    }

    .cardStars {
        color: var(--color-yellow);
    }

    .half-star {
        background: linear-gradient(to right, var(--color-yellow) 50%, #343a40 50%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .tooltip {
        position: relative;
        display: inline-block;
    
        .tooltiptext {
            visibility: hidden;
            width: 120px;
            background-color: rgba(0, 0, 0, 0.8);
            color: #fff;
            text-align: center;
            padding: 5px 0;
            border-radius: 6px;
            position: absolute;
            z-index: 1;
            top: -40px;
            left: -20px;
        }
    
        &:hover .tooltiptext {
            visibility: visible;
        }
    }
}


