#menuLeft {
    width: 100px;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 30px 0;
    background-color: #fff;

    #logo > img {
        width: 100%;
    }

    #links {
        display: flex;
        flex-direction: column;
        flex: 1;
        padding: 10px 5px;
        gap: 15px;

        .link:last-child {
            margin-top: auto;
        }
    }
}

#menuBottom {
    width: 100%;
    display: flex;
    align-items: center;
    background-color: #fff;

    #links {
        display: flex;
        justify-content: space-between;
        flex: 1;
        padding: 10px 5px;
        gap: 0;

        .link {
            flex: 1;
        }
    }
}

.link {
    display: flex;
    flex-direction: column;

    .buttonMenu {
        border-radius: 100px;
        background-color: $color-white;
        color: $color-black;
        padding: 10px 20px;
        display: flex;
        justify-content: center;
        text-decoration: none;

        &[current-page="true"] {
            background-color: $color-primary;
        }
    }

    label {
        font-weight: $font-weight-bold;
        color: $color-black;
        text-align: center;
    }
}

#mobileTop {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;

    img {
        width: 80px;
    }
}

#main {
    padding: 2rem;
    flex: 1;

    body[data-mobile="1"] & {
        padding: 1rem 0.5rem;
    }
    
    >div {
        background-color: $color-body-bg;
    }
}

#loginForm {
    img {
        height: 124px;
        width: 124px;
        margin: 0 auto;
    }

    body:not([data-mobile]) >#main & {
        max-width: 540px;
    }

    button {
        background: linear-gradient(101deg, var(--Selected-menu, #E8DEF8) -11.24%, #8133FF 112.64%);
        border: 0;
        border-radius: 15px;
    }

    form >.container {
        width: 80%;

        @media (max-width: 540px) {
            width: 100%;
        }
    }
}

.container-flex-1 {
    flex: 1;

    >div:nth-child(2) {
        flex: 1;
    }
}

#map {
    height: 100%;
    width: 100%;
}

.badge {
    padding: $badge-padding-y $badge-padding-x;
    font-size: $badge-font-size;
    font-weight: $badge-font-weight;
    line-height: 1;
    color: $badge-color;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: $badge-border-radius;
    display: inline-block;

    &.badge-primary {
        background-color: var(--color-primary-bg-subtle);
        color: var(--color-primary-text-emphasis);

        i {
            color: var(--color-primary-text-emphasis);
        }
    }

    &.badge-secondary {
        background-color: var(--color-secondary-bg-subtle);
        color: var(--color-secondary-text-emphasis);

        i {
            color: var(--color-secondary-text-emphasis);
        }
    }

    &.badge-success {
        background-color: var(--color-success-bg-subtle);
        color: var(--color-success-text-emphasis);

        i {
            color: var(--color-success-text-emphasis);
        }
    }

    &.badge-danger {
        background-color: var(--color-danger-bg-subtle);
        color: var(--color-danger-text-emphasis);

        i {
            color: var(--color-danger-text-emphasis);
        }
    }

    &.badge-warning {
        background-color: var(--color-warning-bg-subtle);
        color: var(--color-warning-text-emphasis);

        i {
            color: var(--color-warning-text-emphasis);
        }
    }

    &.badge-info {
        background-color: var(--color-info-bg-subtle);
        color: var(--color-info-text-emphasis);

        i {
            color: var(--color-info-text-emphasis);
        }
    }

    &.badge-light {
        background-color: var(--color-light-bg-subtle);
        color: var(--color-light-text-emphasis);

        i {
            color: var(--color-light-text-emphasis);
        }
    }

    &.badge-dark {
        background-color: var(--color-dark-bg-subtle);
        color: var(--color-dark-text-emphasis);

        i {
            color: var(--color-dark-text-emphasis);
        }
    }

    &:hover {
        transform: scale(1.05);
        transition: transform 0.3s ease-in-out;
    }
}

.backdrop {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    z-index: 1050;
}

.alert {
    --alert-bg: transparent;
    --alert-padding-x: 1.5rem;
    --alert-padding-y: 1.25rem;
    --alert-margin-bottom: 1rem;
    --alert-color: inherit;
    --alert-border-color: transparent;
    --alert-border: var(--border-width) solid var(--alert-border-color);
    --alert-border-radius: 0.5rem;
    --alert-link-color: inherit;
    position: absolute;
    padding: var(--alert-padding-y) var(--alert-padding-x);
    margin-bottom: var(--alert-margin-bottom);
    color: var(--alert-color);
    background-color: var(--alert-bg);
    border: var(--alert-border);
    border-radius: var(--alert-border-radius);
    top: 20px;
    right: 20px;
    z-index: 1100;

    body[data-mobile="1"] & {
        max-width: 90%;
    }

    &-heading {
        color: inherit;
    }

    &-link {
        font-weight: 700;
        color: var(--alert-link-color);
    }

    &-dismissible {
        padding-right: 4.5rem;

        .btn-close {
            position: absolute;
            top: 0;
            right: 0;
            z-index: 2;
            padding: 1.5625rem 1.5rem;
        }
    }

    &-primary {
        --alert-color: var(--color-primary-text-emphasis);
        --alert-bg: var(--color-primary-bg-subtle);
        --alert-border-color: var(--color-primary-border-subtle);
        --alert-link-color: var(--color-primary-text-emphasis);
        background-color: var(--color-primary-bg-subtle);
        color: var(--color-primary-text-emphasis);

        i {
            color: var(--color-primary-text-emphasis);
        }

        .alert-link {
            color: var(--color-primary-text-emphasis);

            &:hover {
                color: rgba(var(--color-primary-text-emphasis), var(--text-hover-opacity));
            }
        }
    }

    &-secondary {
        --alert-color: var(--color-secondary-text-emphasis);
        --alert-bg: var(--color-secondary-bg-subtle);
        --alert-border-color: var(--color-secondary-border-subtle);
        --alert-link-color: var(--color-secondary-text-emphasis);
        background-color: var(--color-secondary-bg-subtle);
        color: var(--color-secondary-text-emphasis);

        i {
            color: var(--color-secondary-text-emphasis);
        }

        .alert-link {
            color: var(--color-secondary-text-emphasis);

            &:hover {
                color: rgba(var(--color-secondary-text-emphasis), var(--text-hover-opacity));
            }
        }
    }

    &-success {
        --alert-color: var(--color-success-text-emphasis);
        --alert-bg: var(--color-success-bg-subtle);
        --alert-border-color: var(--color-success-border-subtle);
        --alert-link-color: var(--color-success-text-emphasis);
        background-color: var(--color-success-bg-subtle);
        color: var(--color-success-text-emphasis);

        i {
            color: var(--color-success-text-emphasis);
        }

        .alert-link {
            color: var(--color-success-text-emphasis);

            &:hover {
                color: rgba(var(--color-success-text-emphasis), var(--text-hover-opacity));
            }
        }
    }

    &-danger {
        --alert-color: var(--color-danger-text-emphasis);
        --alert-bg: var(--color-danger-bg-subtle);
        --alert-border-color: var(--color-danger-border-subtle);
        --alert-link-color: var(--color-danger-text-emphasis);
        background-color: var(--color-danger-bg-subtle);
        color: var(--color-danger-text-emphasis);

        i {
            color: var(--color-danger-text-emphasis);
        }

        .alert-link {
            color: var(--color-danger-text-emphasis);

            &:hover {
                color: rgba(var(--color-danger-text-emphasis), var(--text-hover-opacity));
            }
        }
    }

    &-warning {
        --alert-color: var(--color-warning-text-emphasis);
        --alert-bg: var(--color-warning-bg-subtle);
        --alert-border-color: var(--color-warning-border-subtle);
        --alert-link-color: var(--color-warning-text-emphasis);
        background-color: var(--color-warning-bg-subtle);
        color: var(--color-warning-text-emphasis);

        i {
            color: var(--color-warning-text-emphasis);
        }

        .alert-link {
            color: var(--color-warning-text-emphasis);

            &:hover {
                color: rgba(var(--color-warning-text-emphasis), var(--text-hover-opacity));
            }
        }
    }

    &-info {
        --alert-color: var(--color-info-text-emphasis);
        --alert-bg: var(--color-info-bg-subtle);
        --alert-border-color: var(--color-info-border-subtle);
        --alert-link-color: var(--color-info-text-emphasis);
        background-color: var(--color-info-bg-subtle);
        color: var(--color-info-text-emphasis);

        i {
            color: var(--color-info-text-emphasis);
        }

        .alert-link {
            color: var(--color-info-text-emphasis);

            &:hover {
                color: rgba(var(--color-info-text-emphasis), var(--text-hover-opacity));
            }
        }
    }

    &-light {
        --alert-color: var(--color-light-text-emphasis);
        --alert-bg: var(--color-light-bg-subtle);
        --alert-border-color: var(--color-light-border-subtle);
        --alert-link-color: var(--color-light-text-emphasis);
        background-color: var(--color-light-bg-subtle);
        color: var(--color-light-text-emphasis);

        i {
            color: var(--color-light-text-emphasis);
        }

        .alert-link {
            color: var(--color-light-text-emphasis);

            &:hover {
                color: rgba(var(--color-light-text-emphasis), var(--text-hover-opacity));
            }
        }
    }

    &-dark {
        --alert-color: var(--color-dark-text-emphasis);
        --alert-bg: var(--color-dark-bg-subtle);
        --alert-border-color: var(--color-dark-border-subtle);
        --alert-link-color: var(--color-dark-text-emphasis);
        background-color: var(--color-dark-bg-subtle);
        color: var(--color-dark-text-emphasis);

        i {
            color: var(--color-dark-text-emphasis);
        }

        .alert-link {
            color: var(--color-dark-text-emphasis);

            &:hover {
                color: rgba(var(--color-dark-text-emphasis), var(--text-hover-opacity));
            }
        }
    }
}

.scroll-box {
    height: 100px;
    overflow-y: scroll;
    overflow-x: visible;
    padding: 0 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  
    // Firefox
    scrollbar-width: thin;
    scrollbar-color: #555 #f5f5f5;
  
    // WebKit (Chrome, Safari, Edge, etc.)
    &::-webkit-scrollbar {
        width: 6px;
    }
  
    &::-webkit-scrollbar-track {
        background: #f5f5f5;
        border-radius: 8px;
    }
  
    &::-webkit-scrollbar-thumb {
        background-color: #555;
        border-radius: 8px;
        border: 1px solid #f5f5f5;
    
        &:hover {
            background-color: #444;
        }
    }
}

.card {
    --card-spacer-y: 1.5rem;
    --card-spacer-x: 1.5rem;
    --card-title-spacer-y: 0.5rem;
    --card-title-color: ;
    --card-subtitle-color: ;
    --card-border-width: var(--border-width);
    --card-border-color: rgba(0, 0, 0, 0.175);
    --card-border-radius: 0.5rem;
    --card-box-shadow: 0 2px 15px -3px rgba(var(--box-shadow-color-rgb), 0.07), 0 10px 20px -2px rgba(var(--box-shadow-color-rgb), 0.04);
    --card-inner-border-radius: calc(0.5rem - (var(--border-width)));
    --card-cap-padding-y: 0.75rem;
    --card-cap-padding-x: 1.5rem;
    --card-cap-bg: rgba(255, 255, 255, 0);
    --card-cap-color: ;
    --card-height: ;
    --card-color: ;
    --card-bg: var(--surface-bg);
    --card-img-overlay-padding: 1.5rem;
    --card-group-margin: 0.75rem;
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    height: var(--card-height);
    color: var(--body-color);
    word-wrap: break-word;
    background-color: var(--card-bg);
    background-clip: border-box;
    border: var(--card-border-width) solid var(--card-border-color);
    border-radius: var(--card-border-radius);
    box-shadow: var(--card-box-shadow);

    > hr {
        margin-right: 0;
        margin-left: 0;
    }

    > .list-group {
        border-top: inherit;
        border-bottom: inherit;

        &:first-child {
            border-top-width: 0;
            border-top-left-radius: var(--card-inner-border-radius);
            border-top-right-radius: var(--card-inner-border-radius);
        }

        &:last-child {
            border-bottom-width: 0;
            border-bottom-right-radius: var(--card-inner-border-radius);
            border-bottom-left-radius: var(--card-inner-border-radius);
        }
    }

    > .card-header + .list-group,
    > .list-group + .card-footer {
        border-top: 0;
    }

    .card-body {
        flex: 1 1 auto;
        padding: var(--card-spacer-y) var(--card-spacer-x);
        color: var(--card-color);
    }

    .card-title {
        margin-bottom: var(--card-title-spacer-y);
        color: var(--card-title-color);
    }

    .card-subtitle {
        margin-top: calc(-0.5 * var(--card-title-spacer-y));
        margin-bottom: 0;
        color: var(--card-subtitle-color);
    }

    .card-text:last-child {
        margin-bottom: 0;
    }

    .card-link + .card-link {
        margin-left: var(--card-spacer-x);
    }

    .card-header {
        padding: var(--card-cap-padding-y) var(--card-cap-padding-x);
        margin-bottom: 0;
        color: var(--card-cap-color);
        background-color: var(--card-cap-bg);
        border-bottom: var(--card-border-width) solid var(--card-border-color);

        &:first-child {
            border-radius: var(--card-inner-border-radius) var(--card-inner-border-radius) 0 0;
        }
    }

    .card-footer {
        padding: var(--card-cap-padding-y) var(--card-cap-padding-x);
        color: var(--card-cap-color);
        background-color: var(--card-cap-bg);
        border-top: var(--card-border-width) solid var(--card-border-color);

        &:last-child {
            border-radius: 0 0 var(--card-inner-border-radius) var(--card-inner-border-radius);
        }
    }

    .card-header-tabs {
        margin-right: calc(-0.5 * var(--card-cap-padding-x));
        margin-bottom: calc(-1 * var(--card-cap-padding-y));
        margin-left: calc(-0.5 * var(--card-cap-padding-x));
        border-bottom: 0;

        .nav-link.active {
            background-color: var(--card-bg);
            border-bottom-color: var(--card-bg);
        }
    }

    .card-header-pills {
        margin-right: calc(-0.5 * var(--card-cap-padding-x));
        margin-left: calc(-0.5 * var(--card-cap-padding-x));
    }

    .card-img-overlay {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        padding: var(--card-img-overlay-padding);
        border-radius: var(--card-inner-border-radius);
    }

    .card-img,
    .card-img-top,
    .card-img-bottom {
        width: 100%;
    }

    .card-img,
    .card-img-top {
        border-top-left-radius: var(--card-inner-border-radius);
        border-top-right-radius: var(--card-inner-border-radius);
    }

    .card-img,
    .card-img-bottom {
        border-bottom-right-radius: var(--card-inner-border-radius);
        border-bottom-left-radius: var(--card-inner-border-radius);
    }
}

.cardPlace {
    &:hover {
        cursor: pointer;
        background-color: #f0f0f0;
        box-shadow: $box-shadow;
    }

    .badge {
        height: 72px;
        width: 72px;
        
        i {
            font-size: 2rem;
        }
    }

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 0 0.5rem 0.5rem 0;

        max-width: 300px;

        body[data-mobile="1"] & {
            display: none;
        }
    }
}

.cardStars {
    color: var(--color-yellow);
}

.half-star {
    background: linear-gradient(to right, var(--color-yellow) 50%, #343a40 50%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.tooltip {
    position: relative;
    display: inline-block;

    .tooltiptext {
        visibility: hidden;
        width: 120px;
        background-color: rgba(0, 0, 0, 0.8);
        color: #fff;
        text-align: center;
        padding: 5px 0;
        border-radius: 6px;
        position: absolute;
        z-index: 1;
        top: -40px;
        left: -20px;
    }

    &:hover .tooltiptext {
        visibility: visible;
    }
}

.modal {
    --modal-zindex: 1055;
    --modal-width: 500px;
    --modal-padding: 1rem;
    --modal-margin: 0.5rem;
    --modal-color: #{$color-body};
    --modal-bg: #{$color-body-bg};
    --modal-border-color: #{$border-color};
    --modal-border-width: #{$border-width};
    --modal-border-radius: 0.5rem;
    --modal-box-shadow: $box-shadow-sm;
    --modal-inner-border-radius: calc(0.5rem - (#{$border-width}));
    --modal-header-padding-x: 1rem;
    --modal-header-padding-y: 1rem;
    --modal-header-padding: 1rem 1rem;
    --modal-header-border-color: #{$color-gray-200};
    --modal-header-border-width: 2px;
    --modal-title-line-height: 1.6;
    --modal-footer-gap: 0.5rem;
    --modal-footer-bg: ;
    --modal-footer-border-color: #{$color-gray-200};
    --modal-footer-border-width: 2px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: var(--modal-zindex);
    display: none;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    outline: 0;

    &.fade .modal-dialog {
        transition: transform 0.3s ease-out;
        transform: translate(0, -50px);
    }

    &.show .modal-dialog {
        transform: none;
    }

    &.modal-static .modal-dialog {
        transform: scale(1.02);
    }

    .modal-dialog {
        position: relative;
        width: auto;
        margin: var(--modal-margin);
        pointer-events: none;

        &-scrollable {
            height: calc(100% - var(--modal-margin) * 2);

            .modal-content {
                max-height: 100%;
                overflow: hidden;
            }

            .modal-body {
                overflow-y: auto;
            }
        }

        &-centered {
            display: flex;
            align-items: center;
            min-height: calc(100% - var(--modal-margin) * 2);
        }
    }

    .modal-content {
        position: relative;
        display: flex;
        flex-direction: column;
        width: 100%;
        color: var(--modal-color);
        pointer-events: auto;
        background-color: var(--modal-bg);
        background-clip: padding-box;
        border: var(--modal-border-width) solid var(--modal-border-color);
        border-radius: var(--modal-border-radius);
        box-shadow: var(--modal-box-shadow);
        outline: 0;
    }

    .modal-backdrop {
        --backdrop-zindex: 1050;
        --backdrop-bg: #000;
        --backdrop-opacity: 0.5;
        position: fixed;
        top: 0;
        left: 0;
        z-index: var(--backdrop-zindex);
        width: 100vw;
        height: 100vh;
        background-color: var(--backdrop-bg);

        &.fade {
            opacity: 0;
        }

        &.show {
            opacity: var(--backdrop-opacity);
        }
    }

    .modal-header {
        display: flex;
        flex-shrink: 0;
        align-items: center;
        padding: var(--modal-header-padding);
        border-bottom: var(--modal-header-border-width) solid var(--modal-header-border-color);
        border-top-left-radius: var(--modal-inner-border-radius);
        border-top-right-radius: var(--modal-inner-border-radius);

        .btn-close {
            padding: calc(var(--modal-header-padding-y) * 0.5) calc(var(--modal-header-padding-x) * 0.5);
            margin: calc(-0.5 * var(--modal-header-padding-y)) calc(-0.5 * var(--modal-header-padding-x)) calc(-0.5 * var(--modal-header-padding-y)) auto;
        }
    }

    .modal-title {
        margin-bottom: 0;
        line-height: var(--modal-title-line-height);
    }

    .modal-body {
        position: relative;
        flex: 1 1 auto;
        padding: var(--modal-padding);
    }

    .modal-footer {
        display: flex;
        flex-shrink: 0;
        flex-wrap: wrap;
        align-items: center;
        justify-content: flex-start;
        padding: calc(var(--modal-padding) - var(--modal-footer-gap) * 0.5);
        background-color: var(--modal-footer-bg);
        border-top: var(--modal-footer-border-width) solid var(--modal-footer-border-color);
        border-bottom-right-radius: var(--modal-inner-border-radius);
        border-bottom-left-radius: var(--modal-inner-border-radius);

        > * {
            margin: calc(var(--modal-footer-gap) * 0.5);
        }
    }

    & > .modal-xxl {
        --modal-width: 100% !important;
        padding: 2rem;

        body[data-mobile="1"] & {
            padding: 0.25rem;
        }
    }

    @media (min-width: 576px) {
        --modal-margin: 1.75rem;
        --modal-box-shadow: var(--box-shadow);

        .modal-dialog {
            max-width: var(--modal-width);
            margin-right: auto;
            margin-left: auto;
        }

        & >.modal-sm {
            --modal-width: 300px;
        }
    }

    @media (min-width: 992px) {
        & >.modal-lg,
        & >.modal-xl {
            --modal-width: 800px;
        }
    }

    @media (min-width: 1200px) {
        & >.modal-xl {
            --modal-width: 1140px;
        }
    }

    & >.modal-fullscreen {
        width: 100vw;
        max-width: none;
        height: 100%;
        margin: 0;

        .modal-content {
            height: 100%;
            border: 0;
            border-radius: 0;
        }

        .modal-header,
        .modal-footer {
            border-radius: 0;
        }

        .modal-body {
            overflow-y: auto;
        }
    }

    @media (max-width: 575.98px) {
        & >.modal-fullscreen-sm-down {
            width: 100vw;
            max-width: none;
            height: 100%;
            margin: 0;

            .modal-content {
                height: 100%;
                border: 0;
                border-radius: 0;
            }

            .modal-header,
            .modal-footer {
                border-radius: 0;
            }

            .modal-body {
                overflow-y: auto;
            }
        }
    }

    @media (max-width: 767.98px) {
        & >.modal-fullscreen-md-down {
            width: 100vw;
            max-width: none;
            height: 100%;
            margin: 0;

            .modal-content {
                height: 100%;
                border: 0;
                border-radius: 0;
            }

            .modal-header,
            .modal-footer {
                border-radius: 0;
            }

            .modal-body {
                overflow-y: auto;
            }
        }
    }

    @media (max-width: 991.98px) {
        & >.modal-fullscreen-lg-down {
            width: 100vw;
            max-width: none;
            height: 100%;
            margin: 0;

            .modal-content {
                height: 100%;
                border: 0;
                border-radius: 0;
            }

            .modal-header,
            .modal-footer {
                border-radius: 0;
            }

            .modal-body {
                overflow-y: auto;
            }
        }
    }

    @media (max-width: 1199.98px) {
        & >.modal-fullscreen-xl-down {
            width: 100vw;
            max-width: none;
            height: 100%;
            margin: 0;

            .modal-content {
                height: 100%;
                border: 0;
                border-radius: 0;
            }

            .modal-header,
            .modal-footer {
                border-radius: 0;
            }

            .modal-body {
                overflow-y: auto;
            }
        }
    }

    @media (max-width: 1399.98px) {
        & >.modal-fullscreen-xxl-down {
            width: 100vw;
            max-width: none;
            height: 100%;
            margin: 0;

            .modal-content {
                height: 100%;
                border: 0;
                border-radius: 0;
            }

            .modal-header,
            .modal-footer {
                border-radius: 0;
            }

            .modal-body {
                overflow-y: auto;
            }
        }
    }

    & #map {
        height: 400px;
    }

    & #modalImage {
        max-height: 300px;
        width: auto;
    }
}

body:not([data-mobile="1"]) #placeLeft, body:not([data-mobile="1"]) #userLeft {
    border-right: solid $border-width $color-light-border-subtle;
}